{% extends "base.html" %} {% load bootstrap3 %} {% block extra_head %}
<script>
$( document ).ready(function() {
  $(".collapse-checkbox").change(function(){
    if (this.checked) {
      $(this).closest('.collapse-container').find('.collapse-content').addClass('expanded');
    } else {
      $(this).closest('.collapse-container').find('.collapse-content').removeClass('expanded');
    }
  });

  $(".manual-stencil-size").change(function(){
    if (this.checked) {
      $("#id_outline_file").attr('disabled', 'disabled');
    } else {
      $("#id_outline_file").removeAttr('disabled');
    }
  })

  $(".include-frame").change(function(){
    if (this.checked) {
      $(".include-ledge").attr('checked', false).trigger('change');
    }

  })

  $(".include-ledge").change(function(){
    if (this.checked) {
      $(".include-frame").attr('checked', false).trigger('change');
    }
  })

});
</script>
<style>
  label {
    font-weight: normal;
  }
  .warning {
    font-weight: bold;
    color: #aa2200;
  }
  .upload-form-group {
    border: 1px solid #aaa;
    padding: 10px;
    width: 50%;
  }
  .upload-form-group h4 {
    font-size:1em;
    margin:0;
    margin-bottom:10px;
  }
  .form-group:last-of-type {
    margin-bottom:0;
  }
  .collapse-content {
    display: none;
  }
  .collapse-content.expanded {
    display: inherit;
  }
  input[type="checkbox"] {
    margin-right: 5px;
  }
</style>
{% endblock extra_head %} {% block body %}
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Upload your gerber files (one for the paste layer and one for the outline), get an STL
        file.</h3>
    </div>
    <div class="panel-body">
      <p>If you use <strong>eagle</strong>, you can find a CAM script that will export the right layers <a
          href="https://raw.githubusercontent.com/kirberich/gerber_to_scad/master/export_for_gts.cam">here</a>.

      <p>If you use <strong>Fritzing</strong>, select File -> Export -> For Production -> Extended Gerber and select a
        directory for the resulting files. Upload the file named <em>your_project_contour.gm1</em> for the outline and
        <em>your_project_pasteMaskTop.gtp</em> for the paste layer.
      </p>

      <p class="warning">
        This site is untested, unfinished, unpolished and unlikely to work for anything serious. Good luck.
      </p>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">File Upload</h3>
    </div>
    <div class="panel-body">
      <p><strong>ℹ️ See bottom of the page for some usage hints.</strong></p>
      <hr/>
      <form action="" method="POST" enctype="multipart/form-data" class="form">
        {% csrf_token %}
        {% bootstrap_form_errors form type='non_fields' %}

        <h4>Files</h4>
        {% bootstrap_field form.solderpaste_file  %}
        {% bootstrap_field form.outline_file  %}
        <div class='upload-form-group collapse-container'>
          <input type='checkbox' class='collapse-checkbox manual-stencil-size' id='manual-stencil'/><label for='manual-stencil'>Define stencil size manually instead of from outline file.</label>
          <div class="collapse-content">
          {% bootstrap_field form.stencil_width  %}
          {% bootstrap_field form.stencil_height  %}
          {% bootstrap_field form.stencil_margin  %}
          </div>
        </div>
        <hr/>

        <h4>Processing Options</h4>
        {% bootstrap_field form.simplify_regions  %}
        {% bootstrap_field form.flip_stencil  %}
        {% bootstrap_field form.stencil_thickness  %}
        {% bootstrap_field form.increase_hole_size_by  %}
        {% bootstrap_field form.gap  %}
        <hr/>

        <h4>Ledge</h4>
        <div class='collapse-container'>
          {% bootstrap_field form.include_ledge  %}
          <div class="collapse-content expanded">
            {% bootstrap_field form.ledge_thickness  %}
          </div>
        </div>
        <hr/>

        <h4>Frame</h4>
        <div class='collapse-container'>
          {% bootstrap_field form.include_frame  %}
          <div class="collapse-content">
            {% bootstrap_field form.frame_width  %}
            {% bootstrap_field form.frame_height  %}
            {% bootstrap_field form.frame_thickness  %}
          </div>
        </div>
        <hr/>

        {% buttons %}
        <button type="submit" class="btn btn-primary">Convert to STL</button>
        {% endbuttons %}
      </form>
    </div>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">Hints</h3>
    </div>
    <div class="panel-body">
      <ul>
        <li>If you find the pads and holes don't align properly, try increasing the distance between board and ledge by
          a few tenths of a millimeter. If that's not it, your printer's calibration might be off.</li>
        <li>You can use negative values for hole size increase to increase the separation between closely spaced tabs,
          to allow printing a separating line. The downside is that this makes all pads smaller.</li>
        <li>Some boards can produce 2-dimensional walls if pads directly touch each other, which can throw of slicers.
          If this happens, increase the hole size very slightly (like 0.001mm) to make the holes overlap.</li>
        <li>The thicker the stencil and the smaller the solder pads, the more paste will stick to the stencil. If you're
          not getting enough paste on the pads, make the holes bigger or reduce the stencil thickness.</li>
        <li>If you've got a file that's not working right, send it to me at <a
            href="mailto:rob@kirberich.uk">rob@kirberich.uk</a> and I'll have a look to see what's up.</li>
      </ul>
    </div>
  </div>

  <br /><br />

  <p>Special thanks to <a href="https://twitter.com/kazade" target="_blank">kazade</a> for the brilliant idea of using
    <a href="http://www.openscad.org/" target="_blank">OpenSCAD</a> to make this work. This app uses <a
      href="https://github.com/curtacircuitos/pcb-tools" target="_blank">pcb-tools</a> to read Gerber files and <a
      href="https://github.com/SolidCode/SolidPython" target="_blank">SolidPython</a> to generate OpenSCAD code.
    OpenSCAD is used to generate the resulting STL files. The website is built using <a
      href="https://www.djangoproject.com/" target="_blank">Django</a>.
  </p>

  <p>You can find the code for the underlying converter and web app at <a href="https://github.com/kirberich/gerber_to_scad"
      target="_blank">https://github.com/kirberich/gerber_to_scad</a>.</p>

  <p>Version {{version}}</p>

</div>
{% endblock %}
